.logo{position:absolute; top:0px; left:630px;max-width:300px;max-height: 100px;}
.menugauche{background-color:rgb(109, 216, 175);width: 250px;height: 1000px;position: absolute; top:0px;left:0px;}
.menudroit{background-color: rgb(245, 182, 131);width: 170px;height: 1000px;position: absolute; top: 0px; right: 0px;}
.entete{background-color: rgb(194, 194, 194);width: 1480px;height: 100px;position:absolute; top:0px;left:250px;}
.inscription{position:absolute;top:150px; left:80px;}
.login{position:absolute;top:200px; left:80px;}
.jeusanslogin{position:absolute;top:250px; left:30px;}
.form{position:absolute;top: 150px; left: 250px;font-size: large; font-weight:bold;}
.text{border-radius:15px;height:35px}
.nbchances{position:absolute;top:340px;left:0px;width: 250px;height:80px;color:white;font-size: x-large; font-weight: bold;background-color:rgb(101, 212, 170);}
.nblettres{position:absolute;top:190px;left:0px;width: 250px;height:80px;color:white;font-size: x-large; font-weight: bold;background-color:rgb(101, 212, 170);}
.boutonfiltrer{position:absolute;top:300px;left:100px}
.boutonfiltrerbis{position:absolute;top:450px;left:100px}
.fond{position:absolute;top:200px;left:600px;width: 700px;height: 400px;background-color: rgb(194, 194, 194);border-radius: 20px;}
.titre{position:absolute;top: 30px; left: 50px;font-size: large; font-weight:bold;color:white;}

.score{position: absolute;top: 240px;left: 60px;font: x-large;font-weight: bold;color:white;}
.nbchances{position:absolute;top:340px;left:0px;width: 250px;height:80px;color:white;font-size: x-large; font-weight: bold;background-color:rgb(101, 212, 170);}
.nblettres{position:absolute;top:190px;left:0px;width: 250px;height:80px;color:white;font-size: x-large; font-weight: bold;background-color:rgb(101, 212, 170);}
.boutonfiltrer{position:absolute;top:300px;left:100px}
.boutonfiltrerbis{position:absolute;top:450px;left:100px}
.deconnexion{position:absolute;top:140px; right:30px ;font-size: x-large; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}
.deconnexion:link{color: white;}
.deconnexion:hover{color:black;}
.historique{position:absolute;top:190px; right: 20px;}
.historique:link{color:white;}
.historique:hover{color:black}



