{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
    
    <div class=menugauche>
        <div class=titreLettres>Nombre de lettres</div>
        <form action="/jeulogin" method="post">
        <select name="nbdelettres" class=nblettres id="long">
            <option selected disabled value="">{{ longueur }}</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        </form>
        
        <div class=titreChances>Nombre de chances</div>
        <form action="/jeulogin" method="post">
            <select name="nbdechances" class=nbchances id="tryNB">
                <option selected disabled value=""> {{ tentatives }}</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</osansption>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            <div class=bouton>
            <input type="submit" value="Valider">
            </div>
            </form>
    </div>
   
    <div class=fondjeu>
    <body>
        <div id="wordle"></div>
    </body>

    <div class=prop>
        <ul>
            {% for L in liste %}
            
            <li><a>{{ L }}</a></li>
    
            {% endfor %}
        </ul>
        <a>{{ gagne }}</a>
    
    </div>

    <div id="clavier">
        <div class="rangee">
            <button id="A" class={{ clavier[0] }}>A</button>
            <button id="Z" class={{ clavier[25] }}>Z</button>
            <button id="E" class={{ clavier[4] }}>E</button>
            <button id="R" class={{ clavier[17] }}>R</button>
            <button id="T" class={{ clavier[19] }}>T</button>
            <button id="Y" class={{ clavier[24] }}>Y</button>
            <button id="U" class={{ clavier[20] }}>U</button>
            <button id="I" class={{ clavier[8] }}>I</button>
            <button id="O" class={{ clavier[14] }}>O</button>
            <button id="P" class={{ clavier[15] }}>P</button>
        </div>
        <div class="rangee">
            <button id="Q" class={{ clavier[16] }}>Q</button>
            <button id="S" class={{ clavier[18] }}>S</button>
            <button id="D" class={{ clavier[3] }}>D</button>
            <button id="F" class={{ clavier[5] }}>F</button>
            <button id="G" class={{ clavier[6] }}>G</button>
            <button id="H" class={{ clavier[7] }}>H</button>
            <button id="J" class={{ clavier[9] }}>J</button>
            <button id="K" class={{ clavier[10] }}>K</button>
            <button id="L" class={{ clavier[11] }}>L</button>
            <button id="M" class={{ clavier[12] }}>M</button>
        </div>
        <div class="rangee">
            <button id="Sup">Sup</button>
            <button id="W" class={{ clavier[22] }}>W</button>
            <button id="X" class={{ clavier[23] }}>X</button>
            <button id="C" class={{ clavier[2] }}>C</button>
            <button id="V" class={{ clavier[21] }}>V</button>
            <button id="B" class={{ clavier[1] }}>B</button>
            <button id="N" class={{ clavier[13] }}>N</button>

            <button id="Enter">Entrer</button>

            <!-- <form action="/jeusanslogin">
                <input type="submit" value="Entrer">
            </form>
             -->

        </div>
    </div>

    </div>

    <div class="transparente" id="infos">{{ res }}</div>
    <div class="transparente" id="couleurs">{{ couleurs }}</div>
    <div class="transparente" id="avancee">{{ avance }}</div>
    <div class="transparente" id="fini">{{ fini }}</div>
    <div class="transparente" id="longueur">{{ longueur }}</div>
    <div class="transparente" id ="tentatives">{{ tentatives }}</div>
    <script src="/static/jeu.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

</html>

{% endblock %}
