{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
    <body>
        <h1>Wordle</h1>
        <div id="wordle"></div>
    </body>

    <div class=form>
        <ul>
            {% for L in liste %}
            
            <li><a>{{ L }}</a></li>
    
            {% endfor %}
        </ul>
        <a>{{ gagne }}</a>
        <form action="/jeulogin" method="post">
            <input autocomplete="off" name="motprop" type="text" placeholder="Mot proposé" class=text>
        <input type="submit" value="Proposer">
        </form>
    </div>

    <div class=menugauche>
        <div class=titreLettres>Nombre de lettres</div>
        <form action="/jeulogin" method="post">
        <select name="nbdelettres" class=nblettres id="long">
            <option value="4">4</option>
            <option selected value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        </form>    
        <div class=titreChances>Nombre de chances</div>
        <form action="/jeulogin" method="post">
            <select name="nbdechances" class=nbchances id="tryNB">
                <option value="4">4</option>
                <option selected value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            </form>
    </div>


    <div id="clavier">
        <div class="rangee">
            <button id="a">A</button>
            <button id="z">Z</button>
            <button id="e">E</button>
            <button id="r">R</button>
            <button id="t">T</button>
            <button id="y">Y</button>
            <button id="u">U</button>
            <button id="i">I</button>
            <button id="o">O</button>
            <button id="p">P</button>
        </div>
        <div class="rangee">
            <button id="q">Q</button>
            <button id="s">S</button>
            <button id="d">D</button>
            <button id="f">F</button>
            <button id="g">G</button>
            <button id="h">H</button>
            <button id="j">J</button>
            <button id="k">K</button>
            <button id="l">L</button>
            <button id="m">M</button>
        </div>
        <div class="rangee">
            <button id="Sup">Sup</button>
            <button id="w">W</button>
            <button id="x">X</button>
            <button id="c">C</button>
            <button id="v">V</button>
            <button id="b">B</button>
            <button id="n">N</button>
            
            <button id="Enter">Entrer</button>

        </div>
    </div>
  
    <script src="/static/jeu.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

</html>

{% endblock %}