{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
    <body>
        <h1>Wordle</h1>
        <div id="wordle"></div>
    </body>

    <div id="clavier">
        <div class="premiere-rangee">
            <button class="touche">A</button>
            <button class="touche">Z</button>
            <button class="touche">E</button>
            <button class="touche">R</button>
            <button class="touche">T</button>
            <button class="touche">Y</button>
            <button class="touche">U</button>
            <button class="touche">I</button>
            <button class="touche">O</button>
            <button class="touche">P</button>
        </div>
        <div class="deuxieme-rangee">
            <button class="touche">Q</button>
            <button class="touche">S</button>
            <button class="touche">D</button>
            <button class="touche">F</button>
            <button class="touche">G</button>
            <button class="touche">H</button>
            <button class="touche">J</button>
            <button class="touche">K</button>
            <button class="touche">L</button>
            <button class="touche">M</button>
        </div>
        <div class="troisieme-rangee">
            <button class="touche">Sup</button>
            <button class="touche">W</button>
            <button class="touche">X</button>
            <button class="touche">C</button>
            <button class="touche">V</button>
            <button class="touche">B</button>
            <button class="touche">N</button>
            
            <button class="touche">Entrer</button>

        </div>
    </div>

    <script src="/JavaScript/jeu.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

</html>

{% endblock %}