{% extends "prelayout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
    <div class=menugauche>
        <form action="/filtrecat" method="post">
        <select name="Nombre de lettres" class=nblettres id="long">
            <option disabled selected value="" class=options>Nombre de lettres</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="12">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
        </select>
        <input type="submit" value="Filtrer" class=boutonfiltrer>
        </form>
        <form action="/filtrecat" method="post">
            <select name="Nombre de Chances" class=nbchances id="tryNB">
                <option disabled selected value="" class=options>Nombre de chances</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <input type="submit" value="Filtrer" class=boutonfiltrerbis>
            </form>
    </div>
   
    <body>
        <h1>Wordle</h1>
        <div id="wordle"></div>
    </body>

    <div id="clavier">
        <div class="premiere-rangee">
            <button class="touche">A</button>
            <button class="touche">Z</button>
            <button class="touche">E</button>
            <button class="touche">R</button>
            <button class="touche">T</button>
            <button class="touche">Y</button>
            <button class="touche">U</button>
            <button class="touche">I</button>
            <button class="touche">O</button>
            <button class="touche">P</button>
        </div>
        <div class="deuxieme-rangee">
            <button class="touche">Q</button>
            <button class="touche">S</button>
            <button class="touche">D</button>
            <button class="touche">F</button>
            <button class="touche">G</button>
            <button class="touche">H</button>
            <button class="touche">J</button>
            <button class="touche">K</button>
            <button class="touche">L</button>
            <button class="touche">M</button>
        </div>
        <div class="troisieme-rangee">
            <button class="touche">Sup</button>
            <button class="touche">W</button>
            <button class="touche">X</button>
            <button class="touche">C</button>
            <button class="touche">V</button>
            <button class="touche">B</button>
            <button class="touche">N</button>
            
            <button class="touche">Entrer</button>

        </div>
    </div>

    <script src="/site/JavaScript/jeu.js"></script>

    <link rel="stylesheet" type="text/css" href="/site/static/stylesheet.css">

</html>

{% endblock %}