<!DOCTYPE html>
<html>
    
    <head>
    <link rel="stylesheet" href="static/stylesheet.css">
    </head>
    <div class=entete>
        <img src="{{url_for('static',filename='logo.png')}}" class=logo>
    </div>
    <div class=menudroit>
        <div class=bonjour>
            <a class=bonjourtext>Bonjour {{login}}</a>
        </div>
        <div class=deconnexion>
            <a href=\deco class=decotext>Déconnexion</a>
        </div>
        <div class=jeulogin>
            <a href=\jeulogin class=jeulogintext>Jouer</a>
        </div>
        <div class=historique>
        <a href=\historique_score class=histotext>Voir mes scores</a>
        </div>
        <div class=reglejeu>
        <a class=textreglejeu href=/regleco>Règles du jeu</a>
        </div>
    </div>
    <div class=menugauche>
    </div>

    

{% block body %}{% endblock %}
</html>