<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/stylesheet.css">
    
    <body>
    <div class=entete>
        <img src="{{url_for('static',filename='logo.png')}}" class=logo>
    </div>
    <div class=menudroit>
    </div>

    <div class=menugauche>
        <div class=inscription>
            <a class=textinscription href=/inscription>Inscription</a>
        </div>
        
        <a class=login href=/login>Connexion</a>
        <a class=jeusanslogin href=/jeusanslogin>Jouer sans se connecter</a>
    </div>
    </body>
    {% block body %}{% endblock %}
</html>