{% extends "prelayout.html" %}
{% block body %}

<!DOCTYPE html>
<html>

    <div class=fond>
        <h1 class=titre>Règles du jeu</h1>
        <div class=regle>
            <p> L'objectif: Trouver le mot choisit aléatoirement parmi tout les mots de la langue française!
                <br></br>
                Choisissez la taille du mot à deviner ainsi que le nombre de tentatives à l'aide des menus déroulant de gauche.
                
            </p>
        </div>
    </div>
   

</html>

{% endblock %}
